<!DOCTYPE html>
<html>
<head>
	<title>Equipo Docente</title>
</head>
<body>
	<h1>Integrantes equipo docente:</h1>
	<h4>Carlos Vega</h4>
	<h4>Catalina Martin</h4>
	<h4>Eduardo Valerio</h4>
	<h4>Juan Gutiérrez</h4>
	<h4>Matías Rojas</h4>
	<h4>Nicolás Villa</h4>
	<h4>Sebastián Donoso</h4>
	<h4>Sofia Herrera</h4>
	<h4>Victoria Arce</h4>
	<h4>Javiera Ovalle</h4>
	<h4>Jorge Pinto</h4>
	<h4>José Canto</h4>
	<h4>Macarena Osorio</h4>
	<h4>Victor Hernández</h4>
	<a href="{% url 'integrantes' %}">Hola, soy un enlace a los integrantes del curso</a>
	<br>
	<a href="{% url 'index' %}">Hola, soy un enlace a la pagina principal</a>

</body>
</html>