<!DOCTYPE html>
<html>
<head>
	<title>integrantes</title>
</head>
<body>
	<h1>Integrantes del curso:</h1>
	<h4>Daniel Abarca</h4>
	<h4>Julio Nazar</h4>
	<h4>Michael Clemans</h4>
	<h4>Tomas Contreras</h4>
	<h4>Violeta Cortés</h4>
	<h4>Miguel Henríquez</h4>
	<h4>Maria Hormazábal</h4>
	<h4>Valeria Lagos</h4>
	<h4>Ariel Lienlaf</h4>
	<h4>Andres Mendez</h4>
	<h4>Andrés Olivares</h4>
	<h4>Sebastian Puentes</h4>
	<h4>Juan Salazar</h4>
	<h4>Romina Sepúlveda</h4>
	<h4>Benjamin Skoknic</h4>
	<h4>Cristóbal Ariel</h4>
	<h4>Arturo Sotomayor</h4>
	<h4>Fernanda Tagle</h4>
	<h4>Mariana Vásquez</h4>
	<h4>Estebann Vega</h4>
	<h4>Nicole Zuñiga</h4>
	<a href="{% url 'equipodocente' %}">Hola, soy un enlace al equipo docente</a>
	<br>
	<a href="{% url 'index' %}">Hola, soy un enlace a la pagina principal</a>

</body>
</html>